version: '3.8'

services:
  free-app:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    build: .
    container_name: free-app
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 3


    networks:
      - nginx-ssl_default  # NGINX 네트워크 연결

networks:
  nginx-ssl_default:
    external: true