version: "3"

services:
#  proxy:
#    container_name: abc-proxy
#    restart: always
#    build: ./proxy
#    ports:
#      - "80:80"
#    extra_hosts:
#      - host.docker.internal:host-gateway

  nginx:
    container_name: nginx
    image: nginx
    restart: always
    ports:
      - "80:80/tcp"
      - "443:443"
    volumes:
      #nginx.confë¥¼ mount.
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
#    networks:
#      - front-connection
    environment:
      - TZ=Asia/Seoul
    depends_on:
      - web
#    networks:
#      - web

  certbot:
    container_name: certbot
    image: certbot/certbot:arm32v6-latest
    restart: unless-stopped
    volumes:
      - <data_path>/conf:/etc/letsencrypt
      - <data_path>/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  web:
    container_name: web
    restart: always
    build:
      context: ./
      dockerfile: /Users/stella6767/IdeaProjects/free/DockerFile
    ports:
      - "8081:8081"
    environment:
      - "spring_profiles_active=prod"
#    networks:
#      - web


#networks:
#  web:
#    driver: bridge