@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css');
@import "tailwindcss";


@source "../jte/**";
@source "../resources/static/*.html";
@source "../resources/static/**/*.html";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}


@theme {
    --font-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

}

@layer base {

    html {
        font-family: var(--font-sans);
    }

    body {
        @apply bg-base-100 text-base-content;
    }

    pre {
        @apply bg-base-200 text-base-content
        rounded-lg p-4 overflow-x-auto
        text-sm leading-relaxed;
    }

    code {
        @apply font-mono;
    }

    pre code {
        @apply bg-transparent p-0;
    }

    :not(pre) > code {
        @apply bg-base-300 text-base-content
        rounded px-1.5 py-0.5 text-sm;
    }

}

@layer utilities {
    .bg-index {
        background-image:
                linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, 8)),
                url('/img/resumeBackground.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


@utility base-container {
    @apply container mx-auto px-4 py-4 sm:px-8 lg:px-16 min-h-screen;
}