
server:
  port: 8080
  tomcat:
    max-swallow-size: 100MB
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true

spring:
  servlet:
    multipart:
      max-file-size: 100MB #개별 파일 요청


  cloud:
    aws:
      region:
        static: ap-northeast-2
  ai:
    ollama:
      base-url: http://localhost:11434/
      chat:
        model: qwen2:0.5b

  threads:
    virtual:
      enabled: true
  config:
    import:
      - secret.yml
  devtools:
    livereload:
      enabled: true

  profiles:
    active:
      - local
  application:
    name: htmx-app

logging:
  config: classpath:logback-free.xml

management:
  endpoints:
    web:
      exposure:
        include: "*"


---

server:
  servlet:
    session:
      timeout: 12h

  config:
    activate:
      on-profile:
        - local

spring:
  config:
    activate:
      on-profile:
        - local
    import:
      - secret.yml

  devtools:
    livereload:
      enabled: true
    restart:
      poll-interval: 2s
      enabled: true

gg:
  jte:
    templateLocation: module-api/src/main/jte
    templateSuffix: .kte
    development-mode: true
    use-precompiled-templates: false

#logging:
#  level:
#    gg.jte: DEBUG
#    org.springframework.boot.autoconfigure.jte: DEBUG
#    org.springframework.web.servlet: DEBUG # ViewResolver 동작 확인


---

server:
  servlet:
    session:
      timeout: 10h

  port: 8081
  config:
    activate:
      on-profile:
        - prod

spring:
  config:
    activate:
      on-profile:
        - prod
    import:
      - secret.yml

gg:
  jte:
    templateLocation: module-api/src/main/jte
    templateSuffix: .kte
    usePrecompiledTemplates: true
    developmentMode: false
