

.loading-bar {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent,
    #a86a20, transparent,
    #a86a20, transparent
    );
}

.htmx-request.loading-bar {
    opacity: 1;
    animation: fadeIn 2s linear forwards, slide 0.8s ease-in-out infinite;
}
@keyframes slide {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX( 100%); }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

/* HTMX 요청 진행 중 */
.htmx-indicator{
    display: none; /* 평소에는 완전히 숨겨서 공간을 차지하지 않음 */
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    display: inline-block;
    opacity:1;
}
.htmx-request.htmx-indicator{
    display: inline-block;
    opacity:1;
}



.my-indicator {
    display: none;
}

.htmx-request .my-indicator {
    display: inline;
}

.htmx-request.my-indicator {
    display: inline;
}


/* HTMX 요청 진행 중 */
.htmx-request.spinner-indicator ~ #qr-preview {
    display: none;
}

.spinner-indicator {
    display: none;
}

.htmx-request .spinner-indicator {
    display: inline;
}

.htmx-request.spinner-indicator {
    display: inline;
}


/*#map { width: 100%; height: 100vh; }*/
